n8n/workflows/WF-200.json
{
  "name": "WF-200 Script Intelligence Pack Canonical",
  "description": "Runs Phase-1 script intelligence lane: generation → debate → refinement → final shaping.",
  "nodes": [
    {
      "parameters": {},
      "id": "wf200_trigger_node",
      "name": "Trigger Node",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, dossier_context: { dossier_id: $json.dossier_id || 'DOSSIER-UNSPECIFIED', pack: 'WF-200', loaded_at: new Date().toISOString(), route: $json.route_id || 'ROUTE_PHASE1_STANDARD', topic_finalized: !!$json.topic_finalization_packet } } }];"
      },
      "id": "wf200_dossier_load_node",
      "name": "Dossier Load Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, pack_context: { child_workflows: ['CWF-210-script-generation', 'CWF-220-script-debate', 'CWF-230-script-refinement', 'CWF-240-final-script-shaping'], primary_director: 'Vyasa', strategic_authority: 'Krishna', governance_authority: ['Yama', 'Kubera'] } } }];"
      },
      "id": "wf200_pack_initialization_node",
      "name": "Pack Initialization Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const childWorkflows = ['CWF-210', 'CWF-220', 'CWF-230', 'CWF-240'];\nlet executionPlan = { workflows_to_execute: childWorkflows, current_index: 0, status: 'PLANNING', decisions: { quality_gate: true, governance_gate: true } };\nreturn [{ json: { ...$json, execution_plan: executionPlan, pack_orchestration: { started_at: new Date().toISOString(), expected_duration_seconds: 180 } } }];"
      },
      "id": "wf200_execution_planner_node",
      "name": "Execution Planner Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const childResults = { CWF_210: $json.cwf210_result, CWF_220: $json.cwf220_result, CWF_230: $json.cwf230_result, CWF_240: $json.cwf240_result };\nconst allHealthy = Object.values(childResults).every(r => r?.status === 'SUCCESS' || r?.status === 'COMPLETED');\nconst scriptFinalized = $json.cwf240_result?.payload?.final_script_finalized === true;\nconst qualityApproved = $json.cwf240_result?.payload?.quality_gates_passed === true;\nconst validationOk = allHealthy && scriptFinalized && qualityApproved;\nreturn [{ json: { ...$json, pack_validation: { child_results_aggregated: childResults, all_children_healthy: allHealthy, script_finalized: scriptFinalized, quality_approved: qualityApproved, validation_ok: validationOk, route_to_error: !validationOk } } }];"
      },
      "id": "wf200_pack_validation_node",
      "name": "Pack Validation Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    ...$json,\n    dossier_write: {\n      mutation_type: 'namespace_update',\n      target: 'dossier.script',\n      timestamp: new Date().toISOString(),\n      writer_id: 'WF-200',\n      pack_context: $json.pack_context,\n      child_results: $json.pack_validation.child_results_aggregated,\n      audit_entry: 'script-intelligence-pack-completion from WF-200'\n    }\n  }\n}];"
      },
      "id": "wf200_dossier_write_node",
      "name": "Dossier Script Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    ...$json,\n    se_route_runs_write: {\n      operation: 'record_pack_execution',\n      pack_id: 'WF-200',\n      dossier_id: $json.dossier_id,\n      child_workflows_executed: ['CWF-210', 'CWF-220', 'CWF-230', 'CWF-240'],\n      execution_status: 'COMPLETED',\n      script_finalized: $json.pack_validation.script_finalized,\n      quality_approved: $json.pack_validation.quality_approved,\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "wf200_route_runs_write_node",
      "name": "se_route_runs Write Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    workflow_id: 'WF-200',\n    execution_status: 'SUCCESS',\n    completion_packet: {\n      instance_id: 'WF-200-COMP-' + Date.now(),\n      artifact_family: 'script_intelligence_result',\n      schema_version: '1.0.0',\n      producer_workflow: 'WF-200',\n      dossier_ref: $json.dossier_id,\n      created_at: new Date().toISOString(),\n      status: 'CREATED',\n      payload: {\n        pack_executed: 'WF-200',\n        script_finalized: $json.pack_validation.script_finalized,\n        quality_approved: $json.pack_validation.quality_approved,\n        next_workflow: 'WF-300',\n        child_packets: ['CWF-210_output', 'CWF-220_output', 'CWF-230_output', 'CWF-240_output']\n      }\n    }\n  }\n}];"
      },
      "id": "wf200_completion_packet_emission_node",
      "name": "Completion Packet Emission Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.pack_validation.route_to_error) return [];\nreturn [{\n  json: {\n    workflow_id: 'WF-200',\n    routing_decision: 'ERROR',\n    route_to_workflow: 'WF-900',\n    error_message: 'Pack validation failed or child workflow failed',\n    failure_context: $json.pack_validation,\n    child_results: $json.pack_validation.child_results_aggregated\n  }\n}];"
      },
      "id": "wf200_error_routing_node",
      "name": "Error Routing WF-900 Node",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        420
      ]
    }
  ],
  "connections": {
    "Trigger Node": {
      "main": [
        [
          {
            "node": "Dossier Load Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Load Node": {
      "main": [
        [
          {
            "node": "Pack Initialization Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Initialization Node": {
      "main": [
        [
          {
            "node": "Execution Planner Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner Node": {
      "main": [
        [
          {
            "node": "Pack Validation Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pack Validation Node": {
      "main": [
        [
          {
            "node": "Dossier Script Write Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Routing WF-900 Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dossier Script Write Node": {
      "main": [
        [
          {
            "node": "se_route_runs Write Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "se_route_runs Write Node": {
      "main": [
        [
          {
            "node": "Completion Packet Emission Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completion Packet Emission Node": {
      "main": [
        []
      ]
    },
    "Error Routing WF-900 Node": {
      "main": [
        []
      ]
    }
  },
  "meta": {
    "workflow_id": "WF-200",
    "phase": "phase1",
    "vein": "script_vein",
    "purpose": "Script intelligence pack parent.",
    "implementation_depth": "production_grade",
    "owner_director": "narada",
    "next_workflow": "WF-300",
    "canonical_file": "n8n/workflows/WF-200.json",
    "wf900_error_route": "WF-900"
  }
}
